<div class="mb-5 mx-5 row">
  <% @records.each do |record| %>
    <div class="col-6">
      <div class="card" style="height:310px;">
        <div class="card-header">
          <h5 class="card-title mb-0">
            <img src="<%= record.logo %>" class="rounded-circle" width="50" onerror="this.onerror=null;this.src='<%= asset_url("placeholder.png") %>'" />
            <span><%= link_to record.symbol, coin_path(record), class: "h3" %></span>
            <span class="h4 float-end mt-2">
              Chain: <span class="ms-2 float-end"><%= record.chain %></span>
              <br />
              Holders: <span class="float-end"><%= record.users.count %></span>
            </span>
          </h5>
        </div>
        <div class="card-body">
          <% record.user_comments.each do |comment| %>
            <p class="card-text">
              <p>
                <%= truncate(comment.body) %>
                <small class="float-end"><%= "#{time_ago_in_words comment.created_at} ago" %></small>
              </p>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>