<div class="row ms-5">
  <div class="col-8 mx-auto">
    <div class="card mb-3 text-center">
      <div class="card-body">
        <h1 class="h3 mb-3"><%= @coin.symbol %></h1>
      </div>
      <hr class="my-0" />
      <div class="text-center"><img src="<%= @coin.logo %>" class="rounded-circle" width="200px" onerror="this.onerror=null;this.src='<%= asset_url("placeholder.png") %>'" /></div>
      <div class="card-body">
        <h3>
          Rating:
          <span class="review-rating" data-score="<%= @coin.rating.to_i %>"></span>
        </h3>
      </div>
    </div>
    <div>
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Comments</h3>
        </div>
        <div class="card-body h-100">
          <div id="comments">
            <%= render "records" %>
          </div>
          <div class="p-4">
            <%= link_to "More", "#", class: "btn btn-primary btn-block loadMoreBtn", remote: true %>
          </div>
          <% if current_user.is_hold?(@coin.id) %>
            <%= form_tag add_comment_coin_path(@coin.id) do %>
              <div class="form-group my-3">
                <div id="rating-form"><label class="me-3">Rating</label></div>
                <textarea class="form-control mt-3" id="comment" name="comment" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Add comment</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag :current_page, @comments.current_page %>